
body {
 background-color: rgb(209, 122, 122);
 color: rgb(0, 0, 0);
}
.main-flex {
    display: flex;
    flex-direction: column;
}

.row-1 {
    text-align: center;
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 3px solid black;
    flex: 1;
    
}
.row-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.col-1 {
    display: flex;
    flex-direction: row;
}


.main-container {
padding: 5px 15px 25px 10px;
background-color: rgb(255, 255, 255);
}

.searched-drink-container {
    padding-top: 100px;
    padding-bottom: 30%;
   border-radius: 20px;
   width: 40%;
    background-color: rgb(255, 243, 243);
    position: relative;
    left: 5%;
}
 .drink-list {
    position: absolute;
    bottom: 85%;
    left: 175px;
    border-style: outset;
    background-color: rgb(209, 122, 122);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 .saved-drink-container {
    padding-top: 100px;
    padding-bottom: 30%;
   border-radius: 20px;
   width: 40%;
    background-color: rgb(255, 243, 243);
    position: relative ;
    left: 55%;
    bottom: 45px;
 }
 .saved-drinks {
    position: absolute;
    bottom: 85%;
    left: 175px;
    border-style: outset;
    background-color: rgb(209, 122, 122);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }