body {
   background-image: linear-gradient(#b6a0a0, #ce5923);
   color: rgb(0, 0, 0);
   flex-wrap: wrap;
}

/* FlexBox aspects for HTML page (Baxley) */
.flex-container {
   display: flex;
   flex-direction: column;
}

.row-1 {
   text-align: center;
   padding: 30px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   flex: 1;
   display: flex;
   flex-direction: row;
}
.image-2 {
   position: relative;
   left: 5%;
}
.image-3 {
   position: relative;
   right: 3%;
}

.inner-col-1 {
flex: 1;
}

.inner-col-2 {
   flex: 1;
}

.inner-col-3 {
   flex: 1;

}

.row-2 {
   padding: 5px 15px 25px 10px;
   background-color: rgb(255, 255, 255);
   flex: 5;
   display: flex;
   flex-direction: row;
}

.col-1 {
   flex-direction: column;
   display: flex;
   flex: 1;
}

.inner-row-1,
.inner-row-2,
.inner-row-3 {
   flex: 1;
   border: solid red;
}

.col-2 {
   flex: 1;
   flex-direction: column;
   border: solid red;
}

/* End Flexbox aspects (Baxley) */
.searched-drink-container {
   border-radius: 20px;

   background-color: rgb(255, 243, 243);

}

.drink-list {
   border-style: outset;
   background-color: rgb(209, 122, 122);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.saved-drink-container {
   border-radius: 20px;

   background-color: rgb(255, 243, 243);
   text-align: center;

}

.saved-drinks {

   border-style: outset;
   background-color: rgb(209, 122, 122);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

<<<<<<< HEAD
footer {
   text-align: center;
}
=======
.image-1 {
   max-width: 200;
   max-height: auto;
}

.image-2 {
   max-width: 200;
   max-height: auto;

>>>>>>> 62e901af2501d29e40ba36cae0f380339bc67f7a
